/* Establece el juego de caracteres a UTF-8 */
@charset "UTF-8";

/* Configuración básica de la tipografía */
html {
    font-family: 'Montserrat', sans-serif;
}

/* Reset de márgenes y rellenos para todos los elementos */
html,body,h1,h2,h3,ul,li,a,p,article,aside,footer,header,main,nav,section {
    padding: 0;
    margin: 0;
}

/* Estilos para el cuerpo de la página */
body {
    width: 1300px; /* Ancho máximo del cuerpo */
    margin-left: auto; /* Centra el cuerpo horizontalmente */
    margin-right: auto;
    background-color: #f0f0f0; /* Color de fondo del cuerpo */
}
/* Estilos del logotipo */
.logo {
    float: left; /* Logotipo flotante a la izquierda */
    margin-top: 10px;
    margin-left: 20px;
}

/* Estilos de la imagen del logotipo */
.logo img {
    border-radius: 1.1rem;
    height: 100px; /* Tamaño de la imagen del logotipo */
    width: auto;
}

/* Estilos adicionales para el logotipo */
.logo {
    position: sticky; /* Logotipo pegajoso en la parte superior */
    top: 0;
    z-index: 101; /* Capa z para que esté por encima de otros elementos */
}

/* Estilos de la barra de navegación */
nav {
    position: sticky; /* Barra de navegación pegajosa en la parte superior */
    top: 0; 
    z-index: 100; /* Capa z para que esté por encima del contenido */
}

/* Estilos de la lista de navegación */
nav {
    padding: 60px; /* Espaciado dentro de la barra de navegación */
    margin-top: 1px;
    background-color:hsl(240, 2%, 12%); /* Color de fondo de la barra de navegación */
    font-family: 'Montserrat', sans-serif; /* Tipografía de la barra de navegación */
    font-weight: bold; /* Peso de la fuente */
}

/* Estilos para el menú desplegable */
.nav li ul {
    display: none; /* Ocultar la lista de opciones */
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 12px; /* Reducir el tamaño de la fuente */
    left: auto;
}

.nav li:hover > ul {
    display: block; /* Mostrar la lista de opciones cuando se pasa el mouse sobre el elemento padre */
}

.nav li ul li {
    display: block;
    position: relative; /* Agregar posición relativa para los elementos de la lista */
}

.nav li ul li a {
    padding: 3px 5px; /* Reducir el relleno (padding) entre elementos */
    display: block;
    text-decoration: none;
}

/* Estilos para el submenú de segundo nivel */
.nav li ul li ul {
    left: -173%; /* Mover el submenú de segundo nivel a la derecha */
    top: 50%; /* Alinear el submenú de segundo nivel con la parte superior del elemento padre */
    display: none; /* Ocultar el submenú de segundo nivel */
}

.nav li ul li:hover > ul {
    display: block; /* Mostrar el submenú de segundo nivel cuando se pasa el mouse sobre el elemento padre */
}


/* Estilos de la lista desordenada */
ul {
    float: right; /* Alineación de la lista a la derecha */
    border-radius: 12px; /* Bordes redondeados */
}

/* Estilos de los elementos de la lista */
li {
    display: inline-block; /* Elementos de la lista en línea */
    list-style-type: none; /* Quita los marcadores de lista */
    background-color:white; /* Color de fondo */
    margin: 0.5rem 0.5rem 0.5rem 0.3rem; /* Márgenes */
    border-radius: 1.1rem; /* Bordes redondeados */
    padding: 0.5rem 0.5rem; /* Relleno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: color 0.3s ease; /* Transición de color suave */
}

/* Estilos al pasar el cursor sobre los elementos de la lista */
li:hover {
    box-shadow: 0 0.1rem 0.4rem #364552; /* Sombra al pasar el cursor */
}

/* Estilos de los enlaces */
a {
  color:black; /* Color del texto */
  text-decoration: none; /* Quita el subrayado predeterminado */
}

/* Estilos al pasar el cursor sobre los enlaces */
a:hover {
  color:#34495E; /* Cambia el color al pasar el cursor */
}

/* Estilos del contenedor principal */
.container {
    text-align: center; /* Alinea el texto al centro */
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 800px; /* Ancho máximo del contenedor */
}

/* Estilos de una entrada */
.post {
    display: flex; /* Utiliza el modelo de caja flexible */
    align-items: center; /* Alinea los elementos verticalmente */
    border: none; /* Quita el borde */
    outline: none; /* Quita el contorno */
}

/* Estilos para los títulos y párrafos dentro de una entrada */
.post h2,
.post p {
    flex: 1; /* Ocupa todo el espacio disponible */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos de las imágenes dentro de una entrada */
.post img {
    margin-left: auto; /* Margen izquierdo automático */
    border-radius: 1.5rem; /* Bordes redondeados */
}

/* Estilos de los botones en la sección */
section button {
    transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
    background-color: white; /* Color de fondo */
    margin: 1rem 0; /* Márgenes */
    border-radius: 1.5rem; /* Bordes redondeados */
    padding: 0.25rem 0; /* Relleno */
    cursor: pointer; /* Cambia el cursor */
}

/* Estilos para los textos en los botones de la sección */
section button h2, section button p {
    margin: 1rem; /* Márgenes */
}

/* Estilos al pasar el cursor sobre los botones */
section button:hover {
    box-shadow: 0 0.1rem 0.4rem #364552; /* Sombra al pasar el cursor */
}

/* Estilos de justificación del texto */
text {
    text-align: justify;
}

/* Estilos para el cuerpo principal */
main {
    width: 1300px; /* Ancho máximo */
    float: left; /* Flotante a la izquierda */
    margin-bottom: 10px; /* Margen inferior */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Estilos del pie de página */
footer {
    clear: both; /* Limpia los flotantes */
    background-color: #222; /* Color de fondo */
    padding: 50px 0px; /* Relleno */
    color: white; /* Color del texto */
    bottom: 0; /* Alinea al fondo */
    width: 100%; /* Ancho completo */
}

/* Estilos de las secciones dentro del pie de página */
footer section {
 float: right; /* Flotante a la derecha */
 clear: both; /* Limpia los flotantes */
}

/* Estilos para los párrafos dentro del pie de página */
footer p {
    margin: 0; /* Márgenes */
    clear: both; /* Limpia los flotantes */
}

/* Estilos de los enlaces dentro del pie de página */
footer a {
    transition: color 0.3s ease; /* Transición suave del color */
    color: white; /* Color del texto */
    text-decoration: none; /* Quita el subrayado predeterminado */
    clear: both; /* Limpia los flotantes */
}

/* Estilos al pasar el cursor sobre los enlaces del pie de página */
footer a:hover {
    color: dodgerblue; /* Cambia el color al pasar el cursor */
    clear: both; /* Limpia los flotantes */
}


